@model Arcade.Models.Game

<h1>@Model.Name</h1>

<li>
    <ul>
        Genre: @Model.Genre
    </ul>
</li>
<li>
    <ul>
        Release Date: @Model.ReleaseDate
    </ul>
</li>
<li>
    <ul>
        Date Added: @Model.DateAdded
    </ul>
</li>
