@model Arcade.ViewModels.RandomGameViewModel

<table id="gamesTable" class="table table-striped">
    <thead>
        <tr>
            <th>Game name</th>
            <th>Genre name</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>


@section scripts
{
    <script>
        var table = $("table#gamesTable").DataTable({
            ajax: {
                url: "api/games",
                dataSrc: ""
            },
            columns: [
                {
                    data: "Name"

                },
                {
                    data: "GenreName"
                }
            ]
        });
       
    </script>
}
